Repository mustafa0x/navgo: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: pnpm exec eslint --concurrency auto --fix {staged_files}
  stage_fixed: true

pks.json: remove terser; test/site vite: don't minify
  package.json
  test/site/vite.config.js
Due: prettier, eslint

caching: fix revalidation
  index.d.ts
  index.js
  index.test.js
  readme.md
Due: prettier, eslint

test site navgo init: move outside of app.svelte for hydration
  test/site/App.svelte
  test/site/index.html
  test/site/main.svelte.js
Due: prettier, eslint

loaders -> loader
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/site/routes/Posts.svelte
  test/site/routes/Products.svelte
  test/site/routes/Users.svelte
  test/types/basic.ts
Due: prettier, eslint

loaders -> loader
  index.js
  index.test.js
  readme.md
Due: prettier, eslint

4.0.0
  package.json
Due: none

eslint: ignore index.d.ts
  eslint.config.ts
  index.d.ts
Due: prettier, eslint

4.0.1
  package.json
Due: none

caching
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/site/routes/Posts.svelte
  test/site/routes/Products.svelte
  test/types/basic.ts
Due: prettier, eslint

test site: mount -> hydrate, add title/desc to routes
  test/site/index.html
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Contact.svelte
  test/site/routes/Files.svelte
  test/site/routes/Posts.svelte
  test/site/routes/Products.svelte
  test/site/routes/Scroll.svelte
  test/site/routes/Users.svelte
Due: prettier

$route: update before after_navigate
  index.js
Due: prettier, eslint

remove unneeded if
  index.js
Due: prettier, eslint

4.0.2
  package.json
Due: none

add npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

mise tools: add node/pnpm
  mise.toml
Due: none

add pnpm-lock.yaml
  .gitignore
  pnpm-lock.yaml
Due: none

tmp
  readme.md
Due: none

#run_loader: pass route to loader
  index.js
Due: prettier, eslint

4.0.3
  package.json
Due: none

Revert "tmp"
  readme.md
Due: none

#run_loader: pass {route_entry, url, params} to loader()
  index.js
  index.test.js
Due: prettier, eslint

5.0.0
  package.json
Due: none

throttle: pull from es-toolkit
  index.js
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

add scroll_to_top option
  index.d.ts
  index.js
  index.test.js
  readme.md
Due: prettier, eslint

5.0.1
  package.json
Due: none

minor config updates
  eslint.config.ts
  test/site/vite.config.js
Due: prettier, eslint

param coercing
  changelog.md
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/e2e/param-coercing.spec.js
  test/site/App.svelte
  test/site/routes/Coerce.svelte
  test/site/routes/Users.svelte
  test/types/basic.ts
Due: prettier, eslint

param_rules: merge
  index.js
  index.test.js
  test/site/App.svelte
Due: prettier, eslint

url_changed (deprecated): remove
  changelog.md
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/types/basic.ts
Due: prettier, eslint

playwright: default e2e to chromium
  package.json
Due: none

feat: add aria-current=page to active link (opt in)
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/site/App.svelte
Due: prettier, eslint

readme: svelteify
  readme.md
Due: none

run_loader: abort nav if the loader throws
  changelog.md
  index.js
  index.test.js
  readme.md
Due: prettier, eslint

6.0.0-beta.0
  package.json
Due: none

loader: pass preload flag
  index.d.ts
  index.js
  index.test.js
  readme.md
Due: prettier, eslint

6.0.0-beta.1
  package.json
Due: none

Revert "loader: pass preload flag"
  index.d.ts
  index.js
  index.test.js
  readme.md
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{js,ts,html,css}
  eslint: any of: *.{js,ts}
