Repository mustafa0x/navgo: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint --concurrency auto --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

add playwright.config.ts
  package.json
  playwright.config.ts
Due: eslint, prettier

lefthook: minor
  lefthook.yaml
Due: none

add svkit router features
  index.d.ts
  readme.md
  src/index.js
Due: eslint, prettier

tests (wip)
  .gitignore
  eslint.config.ts
  mise.toml
  package.json
  src/index.js
  test/e2e/client.spec.js
  test/index.js
  test/server.js
  test/site/App.svelte
  test/site/index.html
  test/site/mise.toml
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Contact.svelte
  test/site/routes/Projects.svelte
  test/site/tsconfig.json
  test/site/vite.config.js
  test/types/basic.ts
  test/types/tsconfig.json
  test/uvu/index.js
Due: eslint, prettier

test app: styling
  test/site/App.svelte
  test/site/index.html
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Projects.svelte
Due: prettier

src.index: add beforeNavigate; support popstate cancel; track history idx
  index.d.ts
  package.json
  readme.md
  src/index.js
  test/types/basic.ts
  test/uvu/index.js
Due: eslint, prettier

src.index: add 'leave' beforeunload; include event on beforeNavigate
  .github/workflows/ci.yml
  builder.js
  lefthook.yaml
  mise.toml
  package.json
  readme.md
  src/index.js
Due: eslint, prettier

readme: add router semantics; document hooks, methods; add flow charts
  readme.md
Due: none

src.index: add scroll restoration; readme: document scroll semantics; test.uvu: stub raf
  readme.md
  src/index.js
  test/uvu/index.js
Due: eslint, prettier

router: move beforeNavigate to route hooks; types+readme+tests: update to route-level semantics
  index.d.ts
  src/index.js
  test/uvu/index.js
Due: eslint, prettier

readme: document route-level beforeNavigate; add examples; clean API section
  readme.md
Due: none

readme: add Quickstart with route hooks example
  readme.md
Due: none

readme: split API into initialization options, route hooks, and methods
  readme.md
Due: none

site: expand svelte demo to cover matchers, loaders, regex, wildcards, programmatic + shallow nav, anchors, and route guards
  test/site/App.svelte
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Article.svelte
  test/site/routes/Files.svelte
  test/site/routes/Users.svelte
Due: none

site: fix svelte parse + type issues (escape braces; bracket access on window)
  test/site/App.svelte
  test/site/routes/Account.svelte
Due: none

router: make goto(ev) param optional by default; site: allow RegExp in routes type
  readme.md
  src/index.js
  test/site/App.svelte
Due: eslint, prettier

readme: dedup semantics section
  readme.md
Due: none

builder -> vite
  builder.js
  eslint.config.ts
  package.json
  vite.config.js
Due: eslint, prettier

readme -> listen(): add mousemove, touchstart, mousedown
  readme.md
Due: none

fixes
  index.d.ts
  readme.md
  src/index.js
  test/types/basic.ts
Due: eslint, prettier

work
  index.d.ts
  readme.md
  src/index.js
  test/site/routes/Projects.svelte
  test/site/routes/Users.svelte
  test/types/basic.ts
  test/uvu/index.js
Due: eslint, prettier

updates
  index.d.ts
  package.json
  readme.md
  src/index.js
  test/site/App.svelte
  test/types/basic.ts
  test/uvu/index.js
Due: eslint, prettier

fixes
  src/index.js
Due: eslint, prettier

beforeNavigate -> beforeRouteLeave; add global {before,after}Navigate; misc
  index.d.ts
  readme.md
  src/index.js
  test/site/App.svelte
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Products.svelte
  test/site/routes/Projects.svelte
  test/types/basic.ts
  test/uvu/index.js
Due: eslint, prettier

scroll restoration: run loaders
  src/index.js
Due: eslint, prettier

updates
  eslint.config.ts
  src/index.js
Due: eslint, prettier

prettier
  package.json
  readme.md
  test/site/App.svelte
  test/site/index.html
  test/site/prettier.config.js
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Article.svelte
  test/site/routes/Contact.svelte
  test/site/routes/Files.svelte
  test/site/routes/Products.svelte
  test/site/routes/Users.svelte
  test/site/tsconfig.json
  test/site/vite.config.js
  tsconfig.json
Due: eslint, prettier

minor fix
  src/index.js
Due: eslint, prettier

snake_case
  src/index.js
Due: eslint, prettier

tests: fix
  test/uvu/index.js
Due: eslint, prettier

make_before_nav -> make_nav
  src/index.js
Due: eslint, prettier

uvu -> vitest
  eslint.config.ts
  index.test.js
  package.json
  test/uvu/index.js
Due: eslint, prettier

scroll restore
  index.test.js
  readme.md
  src/index.js
Due: eslint, prettier

refactors
  src/index.js
Due: eslint, prettier

e2e tests: fixes
  playwright.config.ts
  test/e2e/client.spec.js
Due: eslint, prettier

BeforeNavigate type: rename to Navigation
  index.d.ts
  readme.md
Due: eslint, prettier

index.js: minor bugfix
  src/index.js
Due: eslint, prettier

popstate
  src/index.js
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,html,css}
