Repository mustafa0x/navgo: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm exec eslint --concurrency auto --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

3.0.3
  package.json
Due: none

navaid -> navgo
  index.d.ts
  index.js
  index.test.js
  test/e2e/client.spec.js
  test/site/index.html
Due: eslint, prettier

readme: fmt 2 spaces
  package.json
  readme.md
Due: none

update pkgs; simplify build
  .gitignore
  index.d.ts
  package.json
  tsconfig.json
  vite.config.js
Due: eslint, prettier

3.0.4
  package.json
Due: none

init
  .gitignore
  eslint.config.ts
  index.d.ts
  index.js
  index.test.js
  lefthook.yaml
  mise.toml
  package.json
  playwright.config.ts
  readme.md
  test/e2e/client.spec.js
  test/site/App.svelte
  test/site/index.html
  test/site/mise.toml
  test/site/prettier.config.js
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Contact.svelte
  test/site/routes/Files.svelte
  test/site/routes/Posts.svelte
  test/site/routes/Products.svelte
  test/site/routes/Users.svelte
  test/site/tsconfig.json
  test/site/vite.config.js
  test/types/basic.ts
  test/types/tsconfig.json
  tsconfig.json
Due: eslint, prettier

resolve_url_and_path, link_from_event: minor fixes
  index.js
  index.test.js
Due: eslint, prettier

3.0.5
  package.json
Due: none

#click: add rAF before goto
  index.js
  index.test.js
Due: eslint, prettier

lefthook: run tests
  lefthook.yaml
Due: none

options: add tick (awaited before scroll)
  index.d.ts
  index.js
  index.test.js
  readme.md
Due: eslint, prettier

prepublishOnly: run all tests before
  package.json
Due: none

capture scroll of any elements with #id
  index.js
  index.test.js
  readme.md
  test/site/App.svelte
  test/site/routes/Scroll.svelte
Due: eslint, prettier

add types to class fields
  index.js
Due: eslint, prettier

scroll
  index.js
  test/site/routes/Scroll.svelte
Due: eslint, prettier

fix test
  test/e2e/client.spec.js
Due: eslint, prettier

App.svelte: pass tick to router
  test/site/App.svelte
Due: none

tests: tweak setup
  package.json
  playwright.config.ts
  test/e2e/client.spec.js
Due: eslint, prettier

link_from_event: don't ignore hash links
  index.js
  index.test.js
  test/e2e/client.spec.js
Due: eslint, prettier

hash fies: ignore scroll if hash navigating, restore position on b/f
  index.js
  index.test.js
  test/e2e/client.spec.js
Due: eslint, prettier

fix: shallow push saves previous entry scroll into state.pos
  index.js
  index.test.js
Due: eslint, prettier

mise: work-check -> svcheck
  mise.toml
Due: none

minor scroll fixes
  index.js
  playwright.config.ts
  test/e2e/client.spec.js
  test/e2e/scroll-shallow.spec.js
Due: eslint, prettier

3.0.6
  package.json
Due: none

navgo: add `.route` public property
  index.d.ts
  index.js
  index.test.js
  package.json
  test/site/App.svelte
  test/site/globals.d.ts
  test/site/routes/Products.svelte
  test/types/basic.ts
Due: eslint, prettier

navgo: add `.is_navigating` public property
  index.d.ts
  index.js
  index.test.js
  test/site/App.svelte
  test/types/basic.ts
Due: eslint, prettier

reader: document .route, .is_navigating
  readme.md
Due: none

opts: add attach_to_window (default: true)
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/e2e/client.spec.js
  test/e2e/scroll-shallow.spec.js
  test/site/App.svelte
Due: eslint, prettier

3.0.7
  package.json
Due: none

readme: minor
  readme.md
Due: none

3.0.8
  package.json
Due: none

App.svelte: minor refactor
  test/site/App.svelte
Due: none

destroy: delete window.navgo
  index.js
Due: eslint, prettier

loader -> loaders
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/site/routes/Posts.svelte
  test/site/routes/Products.svelte
  test/site/routes/Users.svelte
  test/types/basic.ts
Due: eslint, prettier

4.0.0
  package.json
Due: none

loader -> loaders
  index.js
  index.test.js
  readme.md
Due: eslint, prettier

eslint: ignore index.d.ts
  eslint.config.ts
  index.d.ts
Due: eslint, prettier

caching
  index.d.ts
  index.js
  index.test.js
  readme.md
  test/site/routes/Posts.svelte
  test/site/routes/Products.svelte
  test/types/basic.ts
Due: eslint, prettier

test site: mount -> hydrate, add title/desc to routes
  test/site/index.html
  test/site/routes/About.svelte
  test/site/routes/Account.svelte
  test/site/routes/Contact.svelte
  test/site/routes/Files.svelte
  test/site/routes/Posts.svelte
  test/site/routes/Products.svelte
  test/site/routes/Scroll.svelte
  test/site/routes/Users.svelte
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts}
  prettier: any of: *.{js,ts,html,css}
